@model Customer
@{
    ViewData["Title"] = "CustomerSearch";
}

<h2>CustomerSearch</h2>
<form asp-controller="Customers" asp-action="CustomerSearch" method="get">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" type="text" />
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" type="text" />
    <input type="submit" value="Search" />
</form>
