@{
    ViewData["Title"] = "Fibonacci";
    int max = Convert.ToInt32(ViewData["max"]); 
    int temp1 = 1;
    int temp2 = 1;
    int fibNum = 1;
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>


            
<ul>
    <li>@fibNum</li>

    @do
    {

        fibNum = temp1 + temp2;

        temp1 = temp2;

        temp2 = fibNum;
        <li>@fibNum</li>


    } while (fibNum <= max);



</ul>
